rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global lock
    match /{document=**} {
      allow read, write: if false;
    }

    // Auth Helpers
    function isSignedIn() { 
      return request.auth != null && request.auth.token.email_verified == true; 
    }
    
    function isHardcodedSuperAdmin() {
      return isSignedIn() && request.auth.token.email == 'andrezbuitrago82@gmail.com';
    }

    function isKnownAdmin() {
      return isHardcodedSuperAdmin() || (
        exists(/databases/$(database)/documents/admins/$(request.auth.token.email)) && 
        get(/databases/$(database)/documents/admins/$(request.auth.token.email)).data.status == 'activo'
      );
    }
    
    function isSuperAdmin() {
      return isHardcodedSuperAdmin() || (
        exists(/databases/$(database)/documents/admins/$(request.auth.token.email)) && 
        get(/databases/$(database)/documents/admins/$(request.auth.token.email)).data.role == 'SuperAdmin' &&
        get(/databases/$(database)/documents/admins/$(request.auth.token.email)).data.status == 'activo'
      );
    }

    // Admins Collection
    match /admins/{adminEmail} {
      allow read: if isSignedIn() && isKnownAdmin();
      allow create: if isSignedIn() && (isSuperAdmin() || (request.resource.data.status == 'pendiente' && adminEmail == request.auth.token.email));
      allow update, delete: if isSignedIn() && isSuperAdmin();
    }

    // Tenants Collection
    match /tenants/{tenantEmail} {
      allow read, write: if isSignedIn() && isKnownAdmin();
    }
  }
}
